{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static "css/tailwind.css"%}">

    <title>Design display</title>
</head>
<body>
    <div class="w-screen h-screen flex">
        <div class="m-auto">
            <div class="w-full flex flex-col">    
                <img src="{{ current_image }}" alt="" srcset="">
                <a class="font-bold bg-blue-500 text-white p-1 rounded m-auto" href="change">Change Image</a>
            </div>
        </div>
    </div>
</body>
</html>